In [94]:
import getpass
from sqlalchemy import Column, Integer, String, ForeignKey, Date
from sqlalchemy.orm import declarative_base, relationship, sessionmaker
import datetime

In [95]:
%run ./engine.ipynb

In [36]:
Base = declarative_base()

In [37]:
class Author(Base):
    __tablename__ = "authors"
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(100), nullable=False)
    books = relationship("Book", back_populates="author")


class Book(Base):
    __tablename__ = "books"
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    title = Column(String(200), nullable=False)
    author_id = Column(Integer, ForeignKey("authors.id"), nullable=True)
    genre=Column(String(50),nullable=True)
    copies_total = Column(Integer, default=1)             
    copies_available = Column(Integer, default=1)
    publisher = Column(String(100), nullable=True)
    language = Column(String(50), nullable=True)
    author = relationship("Author", back_populates="books")
    loans = relationship("Loan", back_populates="book")
class Borrower(Base):
    __tablename__ = "borrowers"
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(100), nullable=False)
    email = Column(String(100), unique=True, nullable=False) 
    phone = Column(String(20), nullable=True)           
    membership_date = Column(Date, default=datetime.date.today) 
    address = Column(String(200), nullable=True)      
    loans = relationship("Loan", back_populates="borrower")


class Loan(Base):
    __tablename__ = "loans"
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    book_id = Column(Integer, ForeignKey("books.id"), nullable=False)
    borrower_id = Column(Integer, ForeignKey("borrowers.id"), nullable=False)
    loan_date = Column(Date, default=datetime.date.today)
    due_date=Column(Date, nullable=False)
    return_date = Column(Date, nullable=True)
    status = Column(String(20), default="On Loan")  # On Loan / Returned
    book = relationship("Book", back_populates="loans")
    borrower = relationship("Borrower", back_populates="loans")

In [38]:
# --- Create Tables in MySQL ---
Base.metadata.create_all(engine)

2025-09-25 12:14:22,825 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-09-25 12:14:22,825 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-25 12:14:22,826 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-09-25 12:14:22,826 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-25 12:14:22,827 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-09-25 12:14:22,827 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-25 12:14:22,828 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-25 12:14:22,829 INFO sqlalchemy.engine.Engine DESCRIBE `lianelibrary`.`authors`
2025-09-25 12:14:22,829 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-25 12:14:22,831 INFO sqlalchemy.engine.Engine DESCRIBE `lianelibrary`.`books`
2025-09-25 12:14:22,831 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-25 12:14:22,831 INFO sqlalchemy.engine.Engine DESCRIBE `lianelibrary`.`borrowers`
2025-09-25 12:14:22,831 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-25 12:14:22,833 INFO sqlalchemy.engine.Engine DESCRIBE `lianelibrary`.`loans`
2025-09-25 12:14:22,833 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-25 12:14:22,834 INFO sqlalchemy.engine.Engine
CREATE TABLE authors (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	PRIMARY KEY (id)
)


2025-09-25 12:14:22,835 INFO sqlalchemy.engine.Engine [no key 0.00050s] {}
2025-09-25 12:14:22,841 INFO sqlalchemy.engine.Engine
CREATE TABLE borrowers (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	email VARCHAR(100) NOT NULL,
	phone VARCHAR(20),
	membership_date DATE,
	address VARCHAR(200),
	PRIMARY KEY (id),
	UNIQUE (email)
)


2025-09-25 12:14:22,841 INFO sqlalchemy.engine.Engine [no key 0.00029s] {}
2025-09-25 12:14:22,848 INFO sqlalchemy.engine.Engine
CREATE TABLE books (
	id INTEGER NOT NULL AUTO_INCREMENT,
	title VARCHAR(200) NOT NULL,
	author_id INTEGER,
	genre VARCHAR(50),
	copies_total INTEGER,
	copies_available INTEGER,
	publisher VARCHAR(100),
	language VARCHAR(50),
	PRIMARY KEY (id),
	FOREIGN KEY(author_id) REFERENCES authors (id)
)


2025-09-25 12:14:22,848 INFO sqlalchemy.engine.Engine [no key 0.00032s] {}
2025-09-25 12:14:22,854 INFO sqlalchemy.engine.Engine
CREATE TABLE loans (
	id INTEGER NOT NULL AUTO_INCREMENT,
	book_id INTEGER NOT NULL,
	borrower_id INTEGER NOT NULL,
	loan_date DATE,
	due_date DATE NOT NULL,
	return_date DATE,
	status VARCHAR(20),
	PRIMARY KEY (id),
	FOREIGN KEY(book_id) REFERENCES books (id),
	FOREIGN KEY(borrower_id) REFERENCES borrowers (id)
)


2025-09-25 12:14:22,854 INFO sqlalchemy.engine.Engine [no key 0.00033s] {}
2025-09-25 12:14:22,861 INFO sqlalchemy.engine.Engine COMMIT