In [33]:
import getpass
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, Date
from sqlalchemy.orm import declarative_base, relationship, sessionmaker
import datetime

In [34]:
password=getpass.getpass('MySQL Password:')

MySQL Password: ········

In [35]:
engine = create_engine(
    f"mysql+pymysql://root:{password}@localhost:3306/LianeLibrary",
    echo=True
)

In [36]:
Base = declarative_base()

In [37]:
class Author(Base):
    __tablename__ = "authors"
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(100), nullable=False)
    books = relationship("Book", back_populates="author")


class Book(Base):
    __tablename__ = "books"
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    title = Column(String(200), nullable=False)
    author_id = Column(Integer, ForeignKey("authors.id"), nullable=True)
    genre=Column(String(50),nullable=True)
    copies_total = Column(Integer, default=1)             
    copies_available = Column(Integer, default=1)
    publisher = Column(String(100), nullable=True)
    language = Column(String(50), nullable=True)
    author = relationship("Author", back_populates="books")
    loans = relationship("Loan", back_populates="book")
class Borrower(Base):
    __tablename__ = "borrowers"
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    name = Column(String(100), nullable=False)
    email = Column(String(100), unique=True, nullable=False) 
    phone = Column(String(20), nullable=True)           
    membership_date = Column(Date, default=datetime.date.today) 
    address = Column(String(200), nullable=True)      
    loans = relationship("Loan", back_populates="borrower")


class Loan(Base):
    __tablename__ = "loans"
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    book_id = Column(Integer, ForeignKey("books.id"), nullable=False)
    borrower_id = Column(Integer, ForeignKey("borrowers.id"), nullable=False)
    loan_date = Column(Date, default=datetime.date.today)
    due_date=Column(Date, nullable=False)
    return_date = Column(Date, nullable=True)
    status = Column(String(20), default="On Loan")  # On Loan / Returned
    book = relationship("Book", back_populates="loans")
    borrower = relationship("Borrower", back_populates="loans")

In [38]:
# --- Create Tables in MySQL ---
Base.metadata.create_all(engine)

2025-09-25 12:14:22,825 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2025-09-25 12:14:22,825 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-25 12:14:22,826 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2025-09-25 12:14:22,826 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-25 12:14:22,827 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2025-09-25 12:14:22,827 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-25 12:14:22,828 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-25 12:14:22,829 INFO sqlalchemy.engine.Engine DESCRIBE `lianelibrary`.`authors`
2025-09-25 12:14:22,829 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-25 12:14:22,831 INFO sqlalchemy.engine.Engine DESCRIBE `lianelibrary`.`books`
2025-09-25 12:14:22,831 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-25 12:14:22,831 INFO sqlalchemy.engine.Engine DESCRIBE `lianelibrary`.`borrowers`
2025-09-25 12:14:22,831 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-25 12:14:22,833 INFO sqlalchemy.engine.Engine DESCRIBE `lianelibrary`.`loans`
2025-09-25 12:14:22,833 INFO sqlalchemy.engine.Engine [raw sql] {}
2025-09-25 12:14:22,834 INFO sqlalchemy.engine.Engine
CREATE TABLE authors (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	PRIMARY KEY (id)
)


2025-09-25 12:14:22,835 INFO sqlalchemy.engine.Engine [no key 0.00050s] {}
2025-09-25 12:14:22,841 INFO sqlalchemy.engine.Engine
CREATE TABLE borrowers (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(100) NOT NULL,
	email VARCHAR(100) NOT NULL,
	phone VARCHAR(20),
	membership_date DATE,
	address VARCHAR(200),
	PRIMARY KEY (id),
	UNIQUE (email)
)


2025-09-25 12:14:22,841 INFO sqlalchemy.engine.Engine [no key 0.00029s] {}
2025-09-25 12:14:22,848 INFO sqlalchemy.engine.Engine
CREATE TABLE books (
	id INTEGER NOT NULL AUTO_INCREMENT,
	title VARCHAR(200) NOT NULL,
	author_id INTEGER,
	genre VARCHAR(50),
	copies_total INTEGER,
	copies_available INTEGER,
	publisher VARCHAR(100),
	language VARCHAR(50),
	PRIMARY KEY (id),
	FOREIGN KEY(author_id) REFERENCES authors (id)
)


2025-09-25 12:14:22,848 INFO sqlalchemy.engine.Engine [no key 0.00032s] {}
2025-09-25 12:14:22,854 INFO sqlalchemy.engine.Engine
CREATE TABLE loans (
	id INTEGER NOT NULL AUTO_INCREMENT,
	book_id INTEGER NOT NULL,
	borrower_id INTEGER NOT NULL,
	loan_date DATE,
	due_date DATE NOT NULL,
	return_date DATE,
	status VARCHAR(20),
	PRIMARY KEY (id),
	FOREIGN KEY(book_id) REFERENCES books (id),
	FOREIGN KEY(borrower_id) REFERENCES borrowers (id)
)


2025-09-25 12:14:22,854 INFO sqlalchemy.engine.Engine [no key 0.00033s] {}
2025-09-25 12:14:22,861 INFO sqlalchemy.engine.Engine COMMIT

In [39]:
Session = sessionmaker(bind=engine)
session = Session()

In [48]:
def add_book(session:Session,book_title:str,author_name:str,genre:str,publisher:str,language:str,copies_total=1):
    book = session.query(Book).filter_by(title=book_title).first()
    author = session.query(Author).filter_by(name=author_name).first()
    if not author:
        author = Author(name=author_name)
        session.add(author)
        session.commit()
    if not book:
        book = Book(
            title=book_title,
            author=author,
            genre=genre,
            publisher=publisher,
            copies_total=copies_total,
            copies_available=copies_total,
            language=language,
        )
        session.add(book)
        session.commit()

In [40]:

def loan_book(
    session: Session,
    borrower_name: str,
    borrower_email: str,
    book_title: str,
    author_name: str,
    borrowe_phone:str=None,
    borrowe_address:str=None,
    genre: str = None,
    publisher: str = None,
    language: str = None,
    loan_days: int = 14  # default 2 weeks loan
):
    """
    Creates/updates Borrower, Author, Book and Loan entries in the database.
    """

    # --- Borrower ---
    borrower = session.query(Borrower).filter_by(email=borrower_email).first()
    if not borrower:
        borrower = Borrower(
            name=borrower_name,
            email=borrower_email,
            membership_date=datetime.date.today()
        )
        session.add(borrower)
        session.commit()

    # --- Author ---
    author = session.query(Author).filter_by(name=author_name).first()
    if not author:
        author = Author(name=author_name)
        session.add(author)
        session.commit()

    # --- Book ---
    book = session.query(Book).filter_by(title=book_title).first()
    if not book:
        book = Book(
            title=book_title,
            author=author,
            genre=genre,
            publisher=publisher,
            copies_total=1,
            copies_available=1,
            language=language,
        )
        session.add(book)
        session.commit()

    # Check availability
    if book.copies_available < 1:
        raise Exception(f"No copies available for '{book_title}'.")

    # --- Loan ---
    today = datetime.date.today()
    due_date = today + datetime.timedelta(days=loan_days)

    loan = Loan(
        book=book,
        borrower=borrower,
        loan_date=today,
        due_date=due_date,
        status="On Loan"
    )
    session.add(loan)

    # Update book availability
    book.copies_available -= 1

    session.commit()
    print(f"Loan created: {borrower_name} borrowed '{book_title}' until {due_date}")

In [41]:
loan_book(
    session=session,
    borrower_name="Erick",
    borrower_email="erick@example.com",
    book_title="The Fellowship of the Ring",
    author_name="J.R.R. Tolkien",
    genre="Fantasy",
    language="English",
    loan_days=14
)

2025-09-25 12:14:22,877 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-25 12:14:22,878 INFO sqlalchemy.engine.Engine SELECT borrowers.id AS borrowers_id, borrowers.name AS borrowers_name, borrowers.email AS borrowers_email, borrowers.phone AS borrowers_phone, borrowers.membership_date AS borrowers_membership_date, borrowers.address AS borrowers_address
FROM borrowers
WHERE borrowers.email = %(email_1)s
 LIMIT %(param_1)s
2025-09-25 12:14:22,878 INFO sqlalchemy.engine.Engine [generated in 0.00034s] {'email_1': 'erick@example.com', 'param_1': 1}
2025-09-25 12:14:22,880 INFO sqlalchemy.engine.Engine INSERT INTO borrowers (name, email, phone, membership_date, address) VALUES (%(name)s, %(email)s, %(phone)s, %(membership_date)s, %(address)s)
2025-09-25 12:14:22,881 INFO sqlalchemy.engine.Engine [generated in 0.00041s] {'name': 'Erick', 'email': 'erick@example.com', 'phone': None, 'membership_date': datetime.date(2025, 9, 25), 'address': None}
2025-09-25 12:14:22,881 INFO sqlalchemy.engine.Engine COMMIT
2025-09-25 12:14:22,883 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-25 12:14:22,883 INFO sqlalchemy.engine.Engine SELECT authors.id AS authors_id, authors.name AS authors_name
FROM authors
WHERE authors.name = %(name_1)s
 LIMIT %(param_1)s
2025-09-25 12:14:22,883 INFO sqlalchemy.engine.Engine [generated in 0.00024s] {'name_1': 'J.R.R. Tolkien', 'param_1': 1}
2025-09-25 12:14:22,885 INFO sqlalchemy.engine.Engine INSERT INTO authors (name) VALUES (%(name)s)
2025-09-25 12:14:22,885 INFO sqlalchemy.engine.Engine [generated in 0.00025s] {'name': 'J.R.R. Tolkien'}
2025-09-25 12:14:22,886 INFO sqlalchemy.engine.Engine COMMIT
2025-09-25 12:14:22,886 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-25 12:14:22,887 INFO sqlalchemy.engine.Engine SELECT books.id AS books_id, books.title AS books_title, books.author_id AS books_author_id, books.genre AS books_genre, books.copies_total AS books_copies_total, books.copies_available AS books_copies_available, books.publisher AS books_publisher, books.language AS books_language
FROM books
WHERE books.title = %(title_1)s
 LIMIT %(param_1)s
2025-09-25 12:14:22,887 INFO sqlalchemy.engine.Engine [generated in 0.00020s] {'title_1': 'The Fellowship of the Ring', 'param_1': 1}
2025-09-25 12:14:22,889 INFO sqlalchemy.engine.Engine SELECT authors.id AS authors_id, authors.name AS authors_name
FROM authors
WHERE authors.id = %(pk_1)s
2025-09-25 12:14:22,889 INFO sqlalchemy.engine.Engine [generated in 0.00027s] {'pk_1': 1}
2025-09-25 12:14:22,889 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author_id, genre, copies_total, copies_available, publisher, language) VALUES (%(title)s, %(author_id)s, %(genre)s, %(copies_total)s, %(copies_available)s, %(publisher)s, %(language)s)
2025-09-25 12:14:22,890 INFO sqlalchemy.engine.Engine [generated in 0.00022s] {'title': 'The Fellowship of the Ring', 'author_id': 1, 'genre': 'Fantasy', 'copies_total': 1, 'copies_available': 1, 'publisher': None, 'language': 'English'}
2025-09-25 12:14:22,890 INFO sqlalchemy.engine.Engine COMMIT
2025-09-25 12:14:22,891 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-25 12:14:22,891 INFO sqlalchemy.engine.Engine SELECT books.id AS books_id, books.title AS books_title, books.author_id AS books_author_id, books.genre AS books_genre, books.copies_total AS books_copies_total, books.copies_available AS books_copies_available, books.publisher AS books_publisher, books.language AS books_language
FROM books
WHERE books.id = %(pk_1)s
2025-09-25 12:14:22,891 INFO sqlalchemy.engine.Engine [generated in 0.00018s] {'pk_1': 1}
2025-09-25 12:14:22,893 INFO sqlalchemy.engine.Engine UPDATE books SET copies_available=%(copies_available)s WHERE books.id = %(books_id)s
2025-09-25 12:14:22,893 INFO sqlalchemy.engine.Engine [generated in 0.00020s] {'copies_available': 0, 'books_id': 1}
2025-09-25 12:14:22,894 INFO sqlalchemy.engine.Engine SELECT borrowers.id AS borrowers_id, borrowers.name AS borrowers_name, borrowers.email AS borrowers_email, borrowers.phone AS borrowers_phone, borrowers.membership_date AS borrowers_membership_date, borrowers.address AS borrowers_address
FROM borrowers
WHERE borrowers.id = %(pk_1)s
2025-09-25 12:14:22,894 INFO sqlalchemy.engine.Engine [generated in 0.00016s] {'pk_1': 1}
2025-09-25 12:14:22,895 INFO sqlalchemy.engine.Engine INSERT INTO loans (book_id, borrower_id, loan_date, due_date, return_date, status) VALUES (%(book_id)s, %(borrower_id)s, %(loan_date)s, %(due_date)s, %(return_date)s, %(status)s)
2025-09-25 12:14:22,895 INFO sqlalchemy.engine.Engine [generated in 0.00023s] {'book_id': 1, 'borrower_id': 1, 'loan_date': datetime.date(2025, 9, 25), 'due_date': datetime.date(2025, 10, 9), 'return_date': None, 'status': 'On Loan'}
2025-09-25 12:14:22,896 INFO sqlalchemy.engine.Engine COMMIT
Loan created: Erick borrowed 'The Fellowship of the Ring' until 2025-10-09

In [49]:
add_book(
    session=session,
    book_title="To Kill a Mockingbird",
    author_name='Harper Lee',
    copies_total=3,
    language='English',
    genre='Fiction',
    publisher='J.B. Lippincott & Co.',
    
    
)

2025-09-25 12:30:38,923 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-25 12:30:38,924 INFO sqlalchemy.engine.Engine SELECT books.id AS books_id, books.title AS books_title, books.author_id AS books_author_id, books.genre AS books_genre, books.copies_total AS books_copies_total, books.copies_available AS books_copies_available, books.publisher AS books_publisher, books.language AS books_language
FROM books
WHERE books.title = %(title_1)s
 LIMIT %(param_1)s
2025-09-25 12:30:38,924 INFO sqlalchemy.engine.Engine [cached since 976s ago] {'title_1': 'To Kill a Mockingbird', 'param_1': 1}
2025-09-25 12:30:38,927 INFO sqlalchemy.engine.Engine SELECT authors.id AS authors_id, authors.name AS authors_name
FROM authors
WHERE authors.name = %(name_1)s
 LIMIT %(param_1)s
2025-09-25 12:30:38,927 INFO sqlalchemy.engine.Engine [cached since 976s ago] {'name_1': 'Harper Lee', 'param_1': 1}
2025-09-25 12:30:38,929 INFO sqlalchemy.engine.Engine INSERT INTO authors (name) VALUES (%(name)s)
2025-09-25 12:30:38,929 INFO sqlalchemy.engine.Engine [cached since 976s ago] {'name': 'Harper Lee'}
2025-09-25 12:30:38,931 INFO sqlalchemy.engine.Engine COMMIT
2025-09-25 12:30:38,932 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-09-25 12:30:38,933 INFO sqlalchemy.engine.Engine SELECT authors.id AS authors_id, authors.name AS authors_name
FROM authors
WHERE authors.id = %(pk_1)s
2025-09-25 12:30:38,934 INFO sqlalchemy.engine.Engine [cached since 976s ago] {'pk_1': 2}
2025-09-25 12:30:38,936 INFO sqlalchemy.engine.Engine INSERT INTO books (title, author_id, genre, copies_total, copies_available, publisher, language) VALUES (%(title)s, %(author_id)s, %(genre)s, %(copies_total)s, %(copies_available)s, %(publisher)s, %(language)s)
2025-09-25 12:30:38,936 INFO sqlalchemy.engine.Engine [cached since 976s ago] {'title': 'To Kill a Mockingbird', 'author_id': 2, 'genre': 'Fiction', 'copies_total': 1, 'copies_available': 1, 'publisher': 'J.B. Lippincott & Co.', 'language': 'English'}
2025-09-25 12:30:38,937 INFO sqlalchemy.engine.Engine COMMIT

In [60]:
def return_book(session:Session,book_title:str):
    book = session.query(Book).filter_by(title=book_title).first()
    book.copies_available +=1
    loan = session.query(Loan).filter_by(book_id=book.id).first()
    today = datetime.date.today()
    loan.return_date=today
    loan.status='Returned'
    session.commit()

In [61]:
return_book(session=session,book_title='The Fellowship of the Ring')

2025-09-25 13:45:40,932 INFO sqlalchemy.engine.Engine UPDATE loans SET return_date=%(return_date)s, status=%(status)s WHERE loans.id = %(loans_id)s
2025-09-25 13:45:40,933 INFO sqlalchemy.engine.Engine [generated in 0.00099s] {'return_date': datetime.date(2025, 9, 25), 'status': 'Returned', 'loans_id': 1}
2025-09-25 13:45:40,935 INFO sqlalchemy.engine.Engine SELECT books.id AS books_id, books.title AS books_title, books.author_id AS books_author_id, books.genre AS books_genre, books.copies_total AS books_copies_total, books.copies_available AS books_copies_available, books.publisher AS books_publisher, books.language AS books_language
FROM books
WHERE books.title = %(title_1)s
 LIMIT %(param_1)s
2025-09-25 13:45:40,935 INFO sqlalchemy.engine.Engine [cached since 2140s ago] {'title_1': 'The Fellowship of the Ring', 'param_1': 1}
2025-09-25 13:45:40,937 INFO sqlalchemy.engine.Engine UPDATE books SET copies_available=%(copies_available)s WHERE books.id = %(books_id)s
2025-09-25 13:45:40,938 INFO sqlalchemy.engine.Engine [cached since 2140s ago] {'copies_available': 5, 'books_id': 1}
2025-09-25 13:45:40,939 INFO sqlalchemy.engine.Engine SELECT loans.id AS loans_id, loans.book_id AS loans_book_id, loans.borrower_id AS loans_borrower_id, loans.loan_date AS loans_loan_date, loans.due_date AS loans_due_date, loans.return_date AS loans_return_date, loans.status AS loans_status
FROM loans
WHERE loans.book_id = %(book_id_1)s
 LIMIT %(param_1)s
2025-09-25 13:45:40,939 INFO sqlalchemy.engine.Engine [cached since 380.1s ago] {'book_id_1': 1, 'param_1': 1}
2025-09-25 13:45:40,941 INFO sqlalchemy.engine.Engine COMMIT

In [ ]:
class LibraryManegament: